<%- include('../partials/header.ejs'); %> 
    <div class="container">

        <div class="row text-center">
            <div class="col">
                <h3 class="h3">Update User</h3>
            </div>
        </div>
        
        <% if(typeof alert != "undefined") { alert.forEach((error) => { %>
            <div class="alert alert-danger" role="alert">
              <%- error.msg %>
            </div>
        <% }) } %>

        <form action="/update/<%- student.id %>" method="post">
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Name</label>
                <input type="text" name="name" value="<%- student.name %>" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name="email" value="<%- student.email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>  
            <button type="submit" class="btn btn-primary">Submit</button>  
        </form>
    </div>
    <%- include('../partials/footer.ejs'); %>    